*{
  padding: 0;
}

body {
	margin: 0;
	padding: 0;
    background-color: white;
    color: black;
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: black;
}

.profile {

}

.profile ul li {
    list-style: none;
}

.profile_img {
    text-align: right;
    width: 3%;
    margin-left: auto;
    margin-right: 30px;
}



.profile_img img {
    border-radius: 50%;
    width: 100%;
}

.profile_nav {
    text-align: right;
}

.modal_area {
    display:none;
    height:100vh;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;


    background:rgba(0,0,0,0.5);
}
.modal_content {
    /*position:absolute;

    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    width:90vw;
    height:90vh;
    overflow:auto;*/
    text-align: center;
}